.header{
  font-family: 'Tangerine', cursive;
  font-size: 45px;
  text-align: center;
  text-indent: 0%;
  padding: 30px;
  color: #554640;
  background-image: url("blue-stone.jfif");
}

.title{
  font-family: 'Tangerine', cursive;
  font-size: 25px;
  text-align: center;
  color: #554640;
}

h3{
  text-indent: 40px;
  font-family: 'DM Sans', sans-serif;
  text-indent: 0%;
  font-size: 24px;
  text-align: left;
  color: #554640;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #554640;
  margin: 0%;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #CDE6F5;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  text-indent: 0%;
  transition: 0.4s;
}

#navbar a:hover{
  background-color: #3d342e;
  color: #a0c1de;
}

/* Page content */
.content {
  text-indent: 40px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  margin: 50px 50px 50px 50px;
  color: #554640;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
