h1{
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  text-align: center;
  text-indent: 0%;
}

h3{
  text-indent: 0%;
  font-size: 24px;
  text-align: left;
}

body{
  text-indent: 40px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  margin: 50px 50px 50px 50px;
  color: #554640;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #CDE6F5;
  border: 3px solid #554640;
  margin: 0%;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #554640;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: 'DM Sans', sans-serif;
  transition: 0.4s;
}

#navbar a:hover{
  background-color: #accfe8;
  color: #453a35;
}

#navbar a:active{
  background-color: #554640;
  color: #CDE6F5;
}

/* Page content */
.content {
  color: #554640;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
